.label-dipesan{
	background-color: #d9534f;
}
.label-dibayar{
	background-color: #f0ad4e;
}

.label-diproses{
	background-color: #39b3d7;
}
.label-selesai{
	background-color: #32af66;
}
.label-validasi-pembayaran{
	background-color: #d5d654;	
}